<!-- BANNER HOME BG BEGIN -->
<section class="content-section-bg clearfix" style="background-image: url('assets/images/banner-slider/6.jpg');">
    <div class="mask-banner"></div>
    <div class="container">
        <div class="caption-banner" style="max-width: 680px;">
            <h1 class="title-banner wow fadeInUp" data-wow-duration="1s" data-wow-delay="200ms">be part of this team</h1>
            <p class="text-banner wow fadeInUp" data-wow-duration="1s" data-wow-delay="250ms">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.</p>
        </div><!-- / .caption-banner -->
    </div>

    <a class="link-arrow">
        <i class="fa fa-angle-double-down"></i>
    </a>
</section>
<!-- BANNER HOME BG END -->

<!-- HIRE-ENTERPRISE BEGIN -->
<section id="hire-enterprise" class="content-section content-hireenterprise clearfix">
    <div class="container">
        
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                
                <header class="content-header">
                    <h2 class="title-content wow fadeInUp" data-wow-duration="1s" data-wow-delay="250ms">building disruptive enterprise</h2>
                </header>

            </div>
        </div><!-- / .row -->

        <div class="row hireenterprise-container">
            
            <div class="col-md-4 item-enterprise clearfix wow fadeInUp" data-wow-duration="1s" data-wow-delay="250ms">
                <div class="subitem-enterprise">
                    <img src="assets/images/enterprise/1.png" width="130" alt="">
                    <h3><a href="#">digital & transformation</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.</p>
                </div>
            </div><!-- / .item-enterprise -->

            <div class="col-md-4 item-enterprise clearfix wow fadeInUp" data-wow-duration="1s" data-wow-delay="250ms">
                <div class="subitem-enterprise">
                    <img src="assets/images/enterprise/2.png" width="130" alt="">
                    <h3><a href="#">replacement mindset</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.</p>
                </div>
            </div><!-- / .item-enterprise -->

            <div class="col-md-4 item-enterprise clearfix wow fadeInUp" data-wow-duration="1s" data-wow-delay="250ms">
                <div class="subitem-enterprise">
                    <img src="assets/images/enterprise/3.png" width="130" alt="">
                    <h3><a href="#">replacement mindset</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.</p>
                </div>
            </div><!-- / .item-enterprise -->

            <div class="col-md-4 item-enterprise clearfix wow fadeInUp" data-wow-duration="1s" data-wow-delay="250ms">
                <div class="subitem-enterprise">
                    <img src="assets/images/enterprise/1.png" width="130" alt="">
                    <h3><a href="#">digital & transformation</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.</p>
                </div>
            </div><!-- / .item-enterprise -->

            <div class="col-md-4 item-enterprise clearfix wow fadeInUp" data-wow-duration="1s" data-wow-delay="250ms">
                <div class="subitem-enterprise">
                    <img src="assets/images/enterprise/2.png" width="130" alt="">
                    <h3><a href="#">replacement mindset</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.</p>
                </div>
            </div><!-- / .item-enterprise -->

            <div class="col-md-4 item-enterprise clearfix wow fadeInUp" data-wow-duration="1s" data-wow-delay="250ms">
                <div class="subitem-enterprise">
                    <img src="assets/images/enterprise/3.png" width="130" alt="">
                    <h3><a href="#">replacement mindset</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.</p>
                </div>
            </div><!-- / .item-enterprise -->

        </div><!-- / .hireenterprise-container -->

    </div>
</section>
<!-- HIRE ENTERPRISE END -->

<!-- SECTION HIRE-OFFICE BEGIN -->
{{hire-office}}
<!-- SECTION HIRE-OFFICE END -->

<!-- SECTION INFORMATION BEGIN -->
<section id="information" class="content-section content-information bg-bluedark clearfix">
    <div class="container">
        
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                
                <header class="content-header">
                    <h2 class="title-content wow fadeInUp" data-wow-duration="1s" data-wow-delay="200ms">come be part of this team we are hire!!</h2>
                </header>

                <div class="clearfix"></div>
                <div class="text-center">
                    <a href="#" class="btn btn-green wow fadeInUp" data-wow-duration="1s" data-wow-delay="250ms">hire me!!</a>
                </div>

            </div>
        </div>

    </div>
</section>
<!-- SECTION INFORMATION END -->