/*  TYPOGRAPHY's
/* ------------------------------------ */
/* Fool-proof @font-face */
/* Based on http://coding.smashingmagazine.com/2013/02/14/setting-weights-and-styles-at-font-face-declaration/ */
@font-face {
  font-family: BrandonGrotesque-Bold;
  src: url("fonts/BrandonGrotesque-Bold.eot");
  src: url("fonts/BrandonGrotesque-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/BrandonGrotesque-Bold.woff") format("woff"), url("fonts/BrandonGrotesque-Bold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: BrandonGrotesque-Medium;
  src: url("fonts/BrandonGrotesque-Medium.eot");
  src: url("fonts/BrandonGrotesque-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/BrandonGrotesque-Medium.woff") format("woff"), url("fonts/BrandonGrotesque-Medium.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: BrandonGrotesque-Regular;
  src: url("fonts/BrandonGrotesque-Regular.eot");
  src: url("fonts/BrandonGrotesque-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/BrandonGrotesque-Regular.woff") format("woff"), url("fonts/BrandonGrotesque-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: BrandonGrotesque-Thin;
  src: url("fonts/BrandonGrotesque-Thin.eot");
  src: url("fonts/BrandonGrotesque-Thin.eot?#iefix") format("embedded-opentype"), url("fonts/BrandonGrotesque-Thin.woff") format("woff"), url("fonts/BrandonGrotesque-Thin.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
