<div class="box-float wow fadeInUp" data-wow-duration="1s" data-wow-delay="250ms" style="margin-top: -400px;">
    <div class="business-carousel owl-carousel">
        {{#each bPro as |pro|}}
        <div class="item">
            <figure>
                <img src="http://ec2-54-83-80-20.compute-1.amazonaws.com{{pro.gallery}}" alt="">
            </figure>
        </div>
        {{/each}}
    </div><!-- / .business-carousel -->
</div><!-- / .box-float -->