<div class="uxlastcases-container">
    
    <div class="lastcases-carousel owl-carousel">

        <div class="item-lastcases wow fadeInUp" data-wow-duration="1s" data-wow-delay="250ms">
            <div class="subitem-lastcases">
                <div class="caption-lastcases">
                    <h3>user experience in google glas</h3>

                    <div class="link-container">
                        <a href="#" class="btn btn-line-white">full case</a>
                    </div>
                </div>

                <img src="assets/images/blog/1.jpg" alt="">
            </div>
        </div>

        <div class="item-lastcases wow fadeInUp" data-wow-duration="1s" data-wow-delay="250ms">
            <div class="subitem-lastcases">
                <div class="caption-lastcases">
                    <h3>user experience in google glas</h3>

                    <div class="link-container">
                        <a href="#" class="btn btn-line-white">full case</a>
                    </div>
                </div>

                <img src="assets/images/blog/2.jpg" alt="">
            </div>
        </div>

        <div class="item-lastcases wow fadeInUp" data-wow-duration="1s" data-wow-delay="250ms">
            <div class="subitem-lastcases">
                <div class="caption-lastcases">
                    <h3>user experience in google glas</h3>

                    <div class="link-container">
                        <a href="#" class="btn btn-line-white">full case</a>
                    </div>
                </div>

                <img src="assets/images/blog/3.jpg" alt="">
            </div>
        </div>

        <div class="item-lastcases wow fadeInUp" data-wow-duration="1s" data-wow-delay="250ms">
            <div class="subitem-lastcases">
                <div class="caption-lastcases">
                    <h3>user experience in google glas</h3>

                    <div class="link-container">
                        <a href="#" class="btn btn-line-white">full case</a>
                    </div>
                </div>

                <img src="assets/images/blog/1.jpg" alt="">
            </div>
        </div>

        <div class="item-lastcases wow fadeInUp" data-wow-duration="1s" data-wow-delay="250ms">
            <div class="subitem-lastcases">
                <div class="caption-lastcases">
                    <h3>user experience in google glas</h3>

                    <div class="link-container">
                        <a href="#" class="btn btn-line-white">full case</a>
                    </div>
                </div>

                <img src="assets/images/blog/2.jpg" alt="">
            </div>
        </div>

        <div class="item-lastcases wow fadeInUp" data-wow-duration="1s" data-wow-delay="250ms">
            <div class="subitem-lastcases">
                <div class="caption-lastcases">
                    <h3>user experience in google glas</h3>

                    <div class="link-container">
                        <a href="#" class="btn btn-line-white">full case</a>
                    </div>
                </div>

                <img src="assets/images/blog/3.jpg" alt="">
            </div>
        </div>

    </div>

</div><!-- / .uxlastcases-container -->