<section id="banner-home" class="content-banner clearfix">
  <div class="banner-carousel owl-carousel">

    <div class="item-banner" style="background-image: url('assets/images/banner-slider/1.jpg'); ">
      <div class="mask-banner"></div>
      <div class="container">
        <div class="caption-banner">
          <h1 class="title-banner wow fadeInUp" data-wow-duration="1s" data-wow-delay="200ms">team working together</h1>
          <p class="text-banner wow fadeInUp" data-wow-duration="1s" data-wow-delay="250ms">Make awesome things</p>
          {{#link-to 'about' class="btn btn-pink wow fadeInUp" data-wow-duration="1s" data-wow-delay="300ms" tagName='a'}}about us{{/link-to}}
        </div><!-- / .caption-banner -->
      </div>
    </div><!-- / .item-banner -->

    <div class="item-banner" style="background-image: url('assets/images/banner-slider/2.jpg'); ">
      <div class="mask-banner"></div>
      <div class="container">
        <div class="caption-banner">
          <h1 class="title-banner wow fadeInUp" data-wow-duration="1s" data-wow-delay="200ms">team working together</h1>
          <p class="text-banner wow fadeInUp" data-wow-duration="1s" data-wow-delay="250ms">Make awesome things</p>
          {{#link-to 'about' class="btn btn-pink wow fadeInUp" data-wow-duration="1s" data-wow-delay="300ms" tagName='a'}}about us{{/link-to}}
        </div><!-- / .caption-banner -->
      </div>
    </div><!-- / .item-banner -->

    <div class="item-banner" style="background-image: url('assets/images/banner-slider/3.jpg'); ">
      <div class="mask-banner"></div>
      <div class="container">
        <div class="caption-banner">
          <h1 class="title-banner wow fadeInUp" data-wow-duration="1s" data-wow-delay="200ms">team working together</h1>
          <p class="text-banner wow fadeInUp" data-wow-duration="1s" data-wow-delay="250ms">Make awesome things</p>

          {{#link-to 'about' class="btn btn-pink wow fadeInUp" data-wow-duration="1s" data-wow-delay="300ms" tagName='a'}}about us{{/link-to}}
        </div><!-- / .caption-banner -->
      </div>
    </div><!-- / .item-banner -->

  </div>

  <a class="link-arrow">
    <i class="fa fa-angle-double-down"></i>
  </a>
</section>