  <div class="col-md-8 col-md-offset-2">

    <div class="box-float wow fadeInUp" data-wow-duration="1s" data-wow-delay="200ms">
      <div class="aboutoffice-carousel owl-carousel">
        {{#each off as |id|}}
        <div class="item">
          <figure>
            <img src="http://ec2-54-83-80-20.compute-1.amazonaws.com{{id.gallery}}" alt="">
          </figure>
        </div>
        {{/each}}
      </div><!-- / .aboutoffice-carousel -->
    </div><!-- / .box-float -->

  </div><!-- / .col-md-10 -->