<section id="about-office" class="content-section content-aboutoffice nopaddbottom clearfix">

  <div class="bg-bluelight">
    <div class="container">

      <div class="space100"></div>
      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-6 col-md-offset-3">

          <header class="content-header">
            <h2 class="title-content wow fadeInUp" data-wow-duration="1s" data-wow-delay="200ms">our office</h2>
          </header>

          <p class="text-content-section wow fadeInUp" data-wow-duration="1s" data-wow-delay="200ms">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed</p>
        </div>
      </div><!-- / .row -->

      <div class="clearfix"></div>
      <div class="space100"></div>
      <div class="space100"></div>
      <div class="space100"></div>


    </div><!-- / .container -->
  </div>

  <div class="content-float bg-white">
    <div class="container">
      <div class="row">

        <div class="col-md-8 col-md-offset-2">

          <div class="box-float wow fadeInUp" data-wow-duration="1s" data-wow-delay="200ms">
            <div class="aboutoffice-carousel owl-carousel">

              <div class="item">
                <figure>
                  <img src="assets/images/office.jpg" alt="">
                </figure>
              </div>

              <div class="item">
                <figure>
                  <img src="assets/images/office.jpg" alt="">
                </figure>
              </div>

              <div class="item">
                <figure>
                  <img src="assets/images/office.jpg" alt="">
                </figure>
              </div>
            </div><!-- / .aboutoffice-carousel -->
          </div><!-- / .box-float -->

        </div><!-- / .col-md-10 -->

      </div>

      <div class="clearfix"></div>
      <div class="space100"></div>
      <div class="space100"></div>
    </div>
  </div><!-- / .content-float -->

</section>