<!-- HIRE-OFFICE BEGIN -->
<section id="hire-office" class="content-section content-hireoffice nopaddtop clearfix">
    <div class="bg-gradient-green">
        <div class="container">

            <div class="space100"></div>
            <div class="clearfix"></div>
            
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    
                    <header class="content-header">
                        <h2 class="title-content wow fadeInUp" data-wow-duration="1s" data-wow-delay="200ms" >our office</h2>
                    </header>

                    <p class="text-content-section wow fadeInUp" data-wow-duration="1s" data-wow-delay="250ms" style="max-width: 755px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed</p>

                </div>
            </div>

            <div class="clearfix"></div>
            <div class="space100"></div>
            <div class="space100"></div>
            <div class="space100"></div>

        </div>
    </div>

    <div class="content-float bg-white">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    <div class="box-float wow fadeInUp" data-wow-duration="1s" data-wow-delay="250ms">
                        <div class="office-carousel owl-carousel">
                            
                            <div class="item">
                                <figure>
                                    <img src="assets/images/office.jpg" alt="">
                                </figure>
                            </div>

                            <div class="item">
                                <figure>
                                    <img src="assets/images/office.jpg" alt="">
                                </figure>
                            </div>

                            <div class="item">
                                <figure>
                                    <img src="assets/images/office.jpg" alt="">
                                </figure>
                            </div>

                        </div><!-- / .office-carousel -->
                    </div><!-- / .box-float -->

                </div>

                <div class="col-md-8 col-md-offset-2">
                    <header class="content-header">
                        <h2 class="title-content">sciensa jobs</h2>
                    </header>

                    <div class="table-responsive table-sciensa table-gradient-green wowfadeInUp" data-wow-duration="1s" data-wow-delay="250ms" >
                        <table class="table">
                            
                            <thead>
                                <tr>
                                    <th>tech</th>
                                    <th>&nbsp;</th>
                                    <th>&nbsp;</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>JavaScript/Front-End Developer</td>
                                    <td>1</td>
                                    <td>FUll-time</td>
                                    <td>Sao Paulo</td>
                                </tr>
                                <tr>
                                    <td>Back-end Developer</td>
                                    <td>4</td>
                                    <td>Full-time</td>
                                    <td>Sao Paulo</td>
                                </tr>
                                <tr>
                                    <td>Scala Developer</td>
                                    <td>1</td>
                                    <td>Full-time</td>
                                    <td>Sao Paulo</td>
                                </tr>
                                <tr>
                                    <td>Rails Developer</td>
                                    <td>1</td>
                                    <td>Full-time</td>
                                    <td>San Francisco</td>
                                </tr>
                            </tbody>

                        </table>
                    </div><!-- / .table-responsive -->

                    <div class="space30"></div>
                    <div class="space30"></div>

                    <div class="table-responsive table-sciensa table-gradient-green wowfadeInUp" data-wow-duration="1s" data-wow-delay="250ms" >
                        <table class="table">
                            
                            <thead>
                                <tr>
                                    <th>sales</th>
                                    <th>&nbsp;</th>
                                    <th>&nbsp;</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>Sales Executive</td>
                                    <td>1</td>
                                    <td>FUll-time</td>
                                    <td>San Francisco</td>
                                </tr>
                                <tr>
                                    <td>Sales Representative Europe</td>
                                    <td>4</td>
                                    <td>Full-time</td>
                                    <td>London</td>
                                </tr>
                            </tbody>

                        </table>
                    </div><!-- / .table-responsive -->

                    <div class="space30"></div>
                    <div class="space30"></div>
                    
                    <div class="table-responsive table-sciensa table-gradient-green wowfadeInUp" data-wow-duration="1s" data-wow-delay="250ms" >
                        <table class="table">
                            
                            <thead>
                                <tr>
                                    <th>sales</th>
                                    <th>&nbsp;</th>
                                    <th>&nbsp;</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>Sales Executive</td>
                                    <td>1</td>
                                    <td>FUll-time</td>
                                    <td>San Francisco</td>
                                </tr>
                                <tr>
                                    <td>Sales Representative Europe</td>
                                    <td>4</td>
                                    <td>Full-time</td>
                                    <td>London</td>
                                </tr>
                            </tbody>

                        </table>
                    </div><!-- / .table-responsive -->

                </div>

            </div><!-- / .row -->
            
            <div class="clearfix"></div>
            <div class="space100"></div>

        </div>
    </div>

</section>
<!-- HIRE-OFFICE END -->