<!-- SITE-FOOTER BEGIN -->
<footer class="site-footer less-padd">
    <div class="container">
        <div class="row footer-container">
            
            <div class="col-md-2 widget widget-mark wow shake" data-wow-duration="1s" data-wow-delay="250ms">
                <figure class="alignnone">
                    <img src="assets/images/logo-footer.png" alt="">
                </figure>
            </div><!-- / .widget-mark .col-md-2 -->

            <div class="col-md-6 widget widget-nav clearfix wow shake" data-wow-duration="1s" data-wow-delay="250ms">
                <div class="space30"></div>
                <div class="space15"></div>
                <ul class="list-nav">
                    <li><a href="#">home</a></li>
                    <li><a href="#">categories</a></li>
                    <li><a href="#">jobs</a></li>
                    <li><a href="#">sobre</a></li>
                </ul>
            </div><!-- / .widget-nav -->

            <div class="col-md-4 widget widget-socmed clearfix wow shake" data-wow-duration="1s" data-wow-delay="250ms">
                <h3 class="title-widget">social network</h3>
                <ul class="list-socmed">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div><!-- / .widget-link -->

        </div><!-- / .footer-container -->

        <div class="row">
            <p class="copyright text-center wow shake" data-wow-duration="1s" data-wow-delay="250ms">&copy; 2015 sciensa developers</p>
        </div>
    </div>
</footer>
<!-- SITE-FOOTER END -->