<div class="article-related">
    <h2>related posts</h2>

    <div class="related-carousel owl-carousel">
        <div class="item-blog clearfix">
            <div class="subitem-blog">
                <div class="inner-blog">

                    <a href="#" class="more">full article</a>

                    <div class="article-info">
                        <p class="info-date">01.08.2015</p>
                        <h3>digital transformation & culture</h3>

                        <p class="info-category">
                            <a href="#">api</a>
                            <a href="#">design patterns</a>
                        </p>
                    </div>

                    <div class="user-info">
                        <img src="assets/images/blogcontent/user-1.jpg" alt="">
                        <div class="author-info">
                            <h4>created by</h4>
                            <span class="user-authors">diana sims</span>
                        </div>
                    </div>
                </div>
                <img src="assets/images/blogcontent/1.jpg" alt="" class="img-thumb">
            </div>
        </div><!-- / .item-blog -->

        <div class="item-blog clearfix">
            <div class="subitem-blog">
                <div class="inner-blog">

                    <a href="#" class="more">full article</a>

                    <div class="article-info">
                        <p class="info-date">01.08.2015</p>
                        <h3>best pactices with new jquery 2.0</h3>

                        <p class="info-category">
                            <a href="#">api</a>
                            <a href="#">design patterns</a>
                        </p>
                    </div>

                    <div class="user-info">
                        <img src="assets/images/blogcontent/user-2.jpg" alt="">
                        <div class="author-info">
                            <h4>created by</h4>
                            <span class="user-authors">jeffrey knight</span>
                        </div>
                    </div>
                </div>
                <img src="assets/images/blogcontent/2.jpg" alt="" class="img-thumb">
            </div>
        </div><!-- / .item-blog -->

        <div class="item-blog clearfix">
            <div class="subitem-blog">
                <div class="inner-blog">

                    <a href="#" class="more">full article</a>

                    <div class="article-info">
                        <p class="info-date">01.08.2015</p>
                        <h3>coding like a super hero</h3>

                        <p class="info-category">
                            <a href="#">api</a>
                            <a href="#">design patterns</a>
                        </p>
                    </div>

                    <div class="user-info">
                        <img src="assets/images/blogcontent/user-3.jpg" alt="">
                        <div class="author-info">
                            <h4>created by</h4>
                            <span class="user-authors">jeffrey knight</span>
                        </div>
                    </div>
                </div>
                <img src="assets/images/blogcontent/3.jpg" alt="" class="img-thumb">
            </div>
        </div><!-- / .item-blog -->
        <div class="item-blog clearfix">
            <div class="subitem-blog">
                <div class="inner-blog">

                    <a href="#" class="more">full article</a>

                    <div class="article-info">
                        <p class="info-date">01.08.2015</p>
                        <h3>digital transformation & culture</h3>

                        <p class="info-category">
                            <a href="#">api</a>
                            <a href="#">design patterns</a>
                        </p>
                    </div>

                    <div class="user-info">
                        <img src="assets/images/blogcontent/user-1.jpg" alt="">
                        <div class="author-info">
                            <h4>created by</h4>
                            <span class="user-authors">diana sims</span>
                        </div>
                    </div>
                </div>
                <img src="assets/images/blogcontent/1.jpg" alt="" class="img-thumb">
            </div>
        </div><!-- / .item-blog -->

        <div class="item-blog clearfix">
            <div class="subitem-blog">
                <div class="inner-blog">

                    <a href="#" class="more">full article</a>

                    <div class="article-info">
                        <p class="info-date">01.08.2015</p>
                        <h3>best pactices with new jquery 2.0</h3>

                        <p class="info-category">
                            <a href="#">api</a>
                            <a href="#">design patterns</a>
                        </p>
                    </div>

                    <div class="user-info">
                        <img src="assets/images/blogcontent/user-2.jpg" alt="">
                        <div class="author-info">
                            <h4>created by</h4>
                            <span class="user-authors">jeffrey knight</span>
                        </div>
                    </div>
                </div>
                <img src="assets/images/blogcontent/2.jpg" alt="" class="img-thumb">
            </div>
        </div><!-- / .item-blog -->

        <div class="item-blog clearfix">
            <div class="subitem-blog">
                <div class="inner-blog">

                    <a href="#" class="more">full article</a>

                    <div class="article-info">
                        <p class="info-date">01.08.2015</p>
                        <h3>coding like a super hero</h3>

                        <p class="info-category">
                            <a href="#">api</a>
                            <a href="#">design patterns</a>
                        </p>
                    </div>

                    <div class="user-info">
                        <img src="assets/images/blogcontent/user-3.jpg" alt="">
                        <div class="author-info">
                            <h4>created by</h4>
                            <span class="user-authors">jeffrey knight</span>
                        </div>
                    </div>
                </div>
                <img src="assets/images/blogcontent/3.jpg" alt="" class="img-thumb">
            </div>
        </div><!-- / .item-blog -->
    </div><!-- / .related-carousel -->

</div><!-- / .article-related -->