<header class="site-header exclude-internal">
  <div class="sticky-header">
    <div class="container">

      <div class="logo">

        <a class="logo-sticky">
          <img src="assets/images/logo-white.png" alt="">
        </a><!-- / .logo-stikcy -->

        <a class="logo-unsticky">
          <img src="assets/images/logo-color.png" alt="">
        </a><!-- / .logo-unsticky -->

      </div><!-- / .logo -->

      <div class="main-navigation navigation-pink">
        <ul>
          <li>{{#link-to 'home'}}home{{/link-to}}</li>
          <li>
            {{#link-to 'services'}}services{{/link-to}}
            <ul>
              <li class="with-icon">
                <a href="#" class="clearfix">
                  <span class="icon icon-1"></span>
                  <span class="text">digital transformation & culture</span>
                </a>
              </li>
              <li class="with-icon">
                <a href="#" class="clearfix">
                  <span class="icon icon-2"></span>
                  <span class="text">Smarts apis & IOT</span>
                </a>
              </li>
              <li class="with-icon">
                <a href="#" class="clearfix">
                  <span class="icon icon-3"></span>
                  <span class="text">data sciencie & hpc</span>
                </a>
              </li>
              <li class="with-icon">
                <a href="#" class="clearfix">
                  <span class="icon icon-4"></span>
                  <span class="text">devops & cloud</span>
                </a>
              </li>
            </ul>
          </li>
          <li>
            {{#link-to 'product'}}products{{/link-to}}
            <ul>
              <li><a href="#">Sample Child 1</a></li>
              <li><a href="#">Sample Child 2</a></li>
              <li><a href="#">Sample Child 3</a></li>
            </ul>
          </li>
          <li>{{#link-to 'license'}}license{{/link-to}}</li>
          <li>{{#link-to 'labs'}}labs{{/link-to}}</li>
          <li>{{#link-to 'about'}}about{{/link-to}}</li>
          <li>{{#link-to 'hire'}}hire!{{/link-to}}</li>
          <li>{{#link-to 'contact'}}contact{{/link-to}}</li>
        </ul>
      </div>

      <div class="rwd-navigation">
        <div class="btn-rwd" data-target=".nav-collapse" data-toggle="collapse">
          <i class="fa fa-bars"></i>
        </div>
        <ul class="nav-collapse mobile-nav collapse"></ul>
      </div><!-- / .rwd-navigation -->

    </div>
  </div><!-- / .sticky-header -->
</header>