<!-- SITE-HEADER BEGIN --> 
<header class="site-header-blog">
    <div class="inner-header-blog">
        <div class="container">
            <div class="row">
                
                <div class="col-md-7 left-header-blog">
                    
                    <div class="logo-sticky">
                        <a href="#">
                            <img src="assets/images/logo-white.png">
                        </a>
                    </div><!-- / .logo-sticky -->
                    <div class="logo-unsticky">
                        <a href="#">
                            <img src="assets/images/logo-color.png">
                        </a>
                    </div><!-- / .logo-unsticky -->

                    <div class="blog-navigation">
                        <ul>
                            <li><a href="#">home</a></li>
                            <li><a href="#">categories</a></li>
                            <li><a href="#">jobs</a></li>
                            <li><a href="#">sobre</a></li>
                        </ul>
                    </div><!-- / .blog-navigation -->

                    <div class="rwd-navigation-blog">
                        <div class="btn-rwd-blog" data-target=".nav-collapse" data-toggle="collapse">
                            <i class="fa fa-bars"></i>
                        </div>
                        <ul class="nav-collapse mobile-nav-blog collapse"></ul>
                    </div><!-- / .rwd-navigation-blog -->

                </div><!-- / .col-md-7 -->

                <div class="col-md-5 right-header-blog">

                    <div class="form-search-blog-container">
                        <form action="#" class="form-search-blog clearfix">
                            <i class="fa fa-search"></i>
                            <input type="text" value="Search Blog" onblur="if(this.value=='')this.value='Search Blog'" onfocus="if(this.value=='Search Blog')this.value=''">
                            <input type="hidden">
                        </form>
                    </div><!-- / .form-search-container -->

                    <ul class="list-socmed-top">
                        <li><a href="#">
                            <i class="fa fa-facebook"></i>
                        </a></li>
                        <li><a href="#">
                            <i class="fa fa-twitter"></i>
                        </a></li>
                        <li><a href="#">
                            <i class="fa fa-google-plus"></i>
                        </a></li>
                        <li><a href="#">
                            <i class="fa fa-linkedin"></i>
                        </a></li>
                    </ul><!-- / .list-socmed-top -->
                    
                </div><!-- / .col-md-5 -->

            </div>
        </div>
    </div>
</header>
<!-- SITE-HEADER END -->